@keyframes scrollBackground {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 100% center;
    }
}
header {
    position: relative;
    background: url('static/images/MMR_V_background_00.png') repeat-x center center;
    background-size: cover;
    color: #fff;
    padding: 120px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: scrollBackground 50s linear infinite;
}

