.publication-video,
.video-thumbnail {
  width: 100%;
  margin: 0 auto;
}

.video-thumbnail img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 1rem; /* 可选，增加视频和缩略图间距 */
}

.container-teasor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; /* 设置固定高度 */
}
@keyframes scrollBackground {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 100% center;
    }
}
header {
    position: relative;
    background: url('static/images/MMR_V_background_00.png') repeat-x center center;
    background-size: cover;
    color: #fff;
    padding: 320px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: scrollBackground 50s linear infinite;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
header h1 {
    position: relative;
    z-index: 2;
    margin: 0;
    font-size: 2.5em;
    font-weight: 500;
}
header .details {
    position: relative;
    z-index: 2;
    margin: 10px 0 0;
    font-size: 1.2em;
    font-weight: 400;
}
header .links {
    position: relative;
    z-index: 2;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 80px; /* 设置固定高度 */
}
header .links a {
    color: #121212;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1em;
    background: #ffffff;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 150px;
    justify-content: center;
}
header .links a:hover {
    background: #e0e0e0;
    transform: translateY(-3px);
}
.main {
    margin-top: 20px;
}

h2 {
    color: #121212;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-size: 1.75em;
    position: relative;
}
.section-other h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background: #121212;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.block-section {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
}
.block-section-other {
    width: 1100px;
}
